node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
.nyc_output

app/database/asterisk-db-manage/cdr.ini
app/database/asterisk-db-manage/config.ini
app/database/asterisk-db-manage/queue_log.ini
app/database/asterisk-db-manage/voicemail.ini
